{% extends 'core/base.html' %}
{% block contenido_central%}

{%load crispy_forms_tags %}

<h3>  REGISTRARSO DE USUARIO </h3>
<br>
<form action ="" method="POST">
    {% csrf_token %}

    <div class="card mx-auto" style = "widht: 30rem;">
        <div class="card-body">
            <h5 class="card-title"> Complete todos los campos:</h5>
                {{form | crispy }}

            <a href={% url 'index'%} class= "card-link"> Inicio</a>
            <a href={% url 'login'%}  class="card-link">Iniciar sesion</a>
            <button class="btn btn-sm btn-primary float-end" type="submit"> Registrarse </button>
        </div>
    </div>

</form>

{%endblock%}