{%extends 'core/base.html'%}

{%block contenido_central%}
{% if request.user.is_authenticated %}
    <div class='row'>
        <div class="col-md-4">
            <div class="card">
                <img src={{ user.picture.url }} class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ user.first_name| upper }}</h5>
                  <small>{{user.location}} </small>
                  <p class="card-text mt-3">{{user.bio}}</p>
                  <a href={% url 'logout' %} class="btn btn-sm btn-success">Cerrar sesion</a>
                </div>
             </div>
        </div>
        <div class ="col-md-8">
            <h4> Titulo que quiera </h4>
            <p>{% lorem %}</p>
        </div>
</div>
{%else %}
    <h4> Titulo que quiera </h4>
    <p>{% lorem %}</p>

{%endif%}

{% endblock  %}