{%extends 'core/base.html'%}
{%load static%}
{%block contenido_central%}


<div class="card-group">
{% for articulo in articulos %}
    <div class="card-group">
        <div class="card" style="width: 18rem;">
        <img src= "{{articulo.imagen}}" width="60px" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{articulo.titulo}}</h5>
            <p class="card-text">{{articulo.subtitulo}}, {{articulo.ubicacion}} </p>
            <a href="{% url 'leermas' articulo.id %}">Leer más</a>
            
        </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock contenido_central  %}