{%extends 'core/base.html'%}
{%block contenido_central%}

<table>
    <th> -id-</th>
    <th> titulo- </th>
    <th> subtitulo- </th>
    <th> ubicacion- </th>

    {% for articulo in articulos %}
        <tr>
            <td>  {{ articulo.id}} </td>
            <td>  {{ articulo.titulo }} </td>
            <td>  {{ articulo.subtitulo }} </td>
            <td>  {{ articulo.ubicacion }} </td>
            <td><a href = "{% url 'editar' articulo.id %}" > Editar</a></td>
            <td><a href = "{% url 'eliminar' articulo.id %}" > Eliminar</a></td>

        </tr> 

    {% endfor %}
    </table>

{% endblock  %}