{%extends 'core/base.html'%}
{%load static%}
{%block contenido_central%}

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ user.first_name | upper }} {{ user.last_name | upper }}. </h5>
          <p class="card-text"> "aca iria una descripcion de cada perfil, una bio"</p>
          <p class="card-text"><small class="text-muted"></small></p>
          <a href="#">EDITAR PERFIL</a>
        </div>
      </div>
    </div>
  </div>


{% endblock contenido_central  %}